#root{
  display: grid;
  grid-template-rows: 1fr 7fr 3fr;
  grid-template-columns: auto;
  height: 100vh;
}

.panel-default{
    font-family: Overpass,sans-serif;
    margin-bottom: 0px;
  } 

  /* Header.css */
.nav-menu a {
  font-family: Overpass,sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font-weight: 600;
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}

.nav-menu a:hover:not(.active) {
  border-bottom: 2px solid #002874;	
  color: #002874;	
}

/* legend */
.legend {
  position: absolute;
  display: grid;
  grid-template-rows: 1.5fr 5fr;
  
  z-index: 1;
  top:50%;
  left:10%;
  background-color: #ffffff;
  width: 210px;
  height: 150px;
  
}


.legend .arrow{
  text-align: center;
  margin-top: 3%;
}

.legend .glyphicon{
  margin-left: 10%;
  margin-right: 10%;
}

.legendContainer{
  display: grid;
  grid-template-columns: 0.2fr 0.7fr;
  /* padding-left:35px; */
  text-align: center;  
}

.legendTag{
  display: inline;
}

